extends layout 

block content 
  h1 #{title}: #{recipe.name}
  p Do you really want to delete this recipe?

  form(method='POST' action='') 
    div.form-group 
      input#dishId.form-control(type='hidden', name='recipeId',
      required='true', value=recipe._id)
    button.btn.btn-primary(type='submit') Delete 

