extends layout 

block content 
  h1= title 

  form(method='POST' action='') 
    div.form-group 
      label(for='name') Recipe Name: 
      input(type='text' value=recipe===undefined ? '' : recipe.name)
      label(for='ingredients') Ingredients: 
      p= ingredients